{% extends "layout3.html" %}
{% block body %}

    <style>
        body {
            background-image: url("{{ url_for('static',filename= 'images/background.jpg') }}");
        }
    </style>
    <header>
        <h2 style="color:blue;" align="center">Update the information of {{ username }}</h2>
    </header>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">close</button>

                    <label for="message" style="color:red;">{{ message }}</label><br>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>

    <br>


    <form action="" class="form-inline" method="post">
        <label for="License Number"><b>License Number</b></label><br>
        <input
                type="text" class="form-control" placeholder="Enter the license number"
                value="{{ request.form.license_number }}" name="license_number" required="required">
        <br><br>

        <label for="Address"><b>Address</b></label> <br>
        <input
                type="text" class="form-control" placeholder="Enter the address" value="{{ request.form.address }}"
                name="address" required="required">
        <br><br>

        <label for="Mobile Number"><b> Mobile Number</b></label><br>
        <input
                type="text" class="form-control" placeholder="Enter the mobile number"
                value="{{ request.form.mobile_number }}" name="mobile_number" required="required">
        <br><br>

        <label for="Password"><b>Password</b></label><br>
        <input
                type="text" class="form-control" placeholder="Enter the password" value="{{ request.form.password }}"
                name="password" required="required"> <br><br>

        <label for="Taxi Number"><b>Taxi Number </b></label><br>
        <input type="text" class="form-control" placeholder="Enter the taxi number"
               value="{{ request.form.taxi_number }}" name="taxi_number" required="required">
        <br><br>

        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-ok-sign" aria-hidden="true">Update</span>
        </button>
    </form>
{% endblock %}