[submodule "python-sample-vscode-flask-tutorial"]
	path = python-sample-vscode-flask-tutorial
	url = https://github.com/microsoft/python-sample-vscode-flask-tutorial
[submodule "flask-example"]
	path = flask-example
	url = https://github.com/stealthness/flask-example.git
[submodule "The-Flask-Tutorial-Code"]
	path = The-Flask-Tutorial-Code
	url = https://github.com/Birkbeck/The-Flask-Tutorial-Code.git
[submodule "topic-05/sqla_tutorial"]
	path = topic-05/sqla_tutorial
	url = https://github.com/zzzeek/sqla_tutorial
