<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Status</title>
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">

</head>
<body>
<h1>Status</h1>
<p>OK</p>

<div>
    <h2>Tests</h2>
    <h3>All recycling examples</h3>
    <p><a href="/map">Map</a> default limit | <a href="/map/10">Map</a> limit 10 | <a href="/map/100">Map</a> limit 100</p>
    <h3>Specific recycling examples</h3>
    <p><a href="/map/Packaging">Map</a> - Packaging default limit | <a href="/map/Paper Bank/100">Map</a> - Paper Bank limit 100 | <a href="/map/Paper Bank">Map</a> - Paper Bank limit default</p>

</div>

</body>
</html>